<!--Footer-->
<footer id="wrap" class = "container-fluid" style="background:#333333; padding: 20px 0px 0px 0px;">
  <div class = "container">
    <div class = "row">
        <div class="col-sm-12 col-md-4">
          <center>
            <a style="font-size:25px;color:#2ecc71" href="index.html"><i class="fa fa-play-circle-o fa-md"></i>YouCode.io</a><br/>
            <span class="text-cloud"><a href="http://blog.youcode.io" class="text-cloud">Blog</a> | <a href="/faq.html" class="text-cloud">Faq</a></span>
          </center>
        </div>

        <div class="col-sm-12 col-md-4">
          <center>
            <a href= "#" class = "text-center">Did you know you can<br/>
            <h4 class = "text-cloud">Request for Screencasts <i class="fa fa-question-circle"></i></h4></a>
            <span class="small">&#169 2013 Youcast.io</span>
          </center>
        </div>

        <div class="col-sm-12 col-md-4">
          <center>
            <!--Mailchimp Subscribe-->
            <a class = "text-success text-center">Don't Leave me Alone</a>
            <form action="http://youcode.us3.list-manage.com/subscribe/post?u=373c174e4191c82cdb3e1813f&amp;id=61cd0e6d4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="input-group">
                <input  type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your Email">
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_373c174e4191c82cdb3e1813f_61cd0e6d4b" value=""></div>
                <span class="input-group-btn">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sms btn-success">
                </span>
              </div>
          </form>
          <!--/Mailchimp Subscribe-->




            <div class="row">
              <a href="http://twitter.com/youcodeio" target="_blank" class="fa-stack fa-lg text-info">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </a><!--Twitter-->

              <a href="#" target="_blank" class="fa-stack fa-lg text-danger">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </a><!--Google Plus-->

              <a href="http://facebook.com/youcodeio" target="_blank" class="fa-stack fa-lg text-primary">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </a><!--Facebook-->

              <a href="http://instagram.com/youcodeio" target="_blank" class="fa-stack fa-lg text-midnight">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </a><!--Instagram-->

              <a href="http://pinterest.com/youcodeio" target="_blank" class="fa-stack fa-lg text-danger">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
              </a><!--Pinterest--> 

              <a href="mailto:hello@youcode.io?&subject=Just%20wanna%20say%20hi%20!" class="fa-stack fa-lg text-success">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
              </a><!--Email Me--> 
            </div>  
          </center>
          <br/>
        </div>   
    </div>
  </div>
</footer>
  <!--/Footer-->
