
<div class="container">
    <div class="col-md-8 col-md-offset-2">
      <center>
        <h2>FAQ | HOW IT WORKS ?</h2>
        
      </center>
      <hr>
      <!--QA here-->
      <p><i class ="fa fa-question-circle"></i> What is Youcode.io ?</p>
      <span><i class ="fa fa-check"></i> Now that you asked, Youcode is a community driven web-app where you can learn/share coding Ruby on Rails, Angular JS. Backbone JS, EmberJS and other web-frameworks and other languages through  Screencasts.</span>
      <hr>

      <p><i class ="fa fa-question-circle"></i> I wanna learn, what do you have to offer ?</p>
      <span><i class ="fa fa-check"></i> Awesome, you have come to right place. Stick with us, we are inviting top best designers and developers to help you. You will also be able to request for <a class="text-success">Screencasts</a>.</span>
      <hr>

      <p><i class ="fa fa-question-circle"></i> I am a Designer/ Developer, what's in it for me ?</p>
      <span><i class ="fa fa-check"></i> Great, first of all helping is always cool.  Second, it is also an apportunity to promote yourself and your business, Uhh! I know you wont fall for this so let me get to the point; how about we <span class="text-success">share the revenue.</span></span>
      <hr>

      <p><i class ="fa fa-question-circle"></i> Why Youcode.io is different ?</p>
      <span><i class ="fa fa-check"></i> Youcode.io is different for learners and teachers both.<br/><span class="text-primary-underline">For Learners</span><br/>This is not like any other tutorials where you can learn A-Z about any specific programming language/ framework. This is for those who who are stuck while learning, or while working on their app, for example <span class="text-warning">"How to accept payment with Stripe on Ruby on Rails?"</span> and move on. If you do not find the question you are looking for, you can also request for Screencasts and we will invite top designers/ developers<br><br><span class="text-primary-underline">For Instructors</span><br/>You are already sharing your ideas via blog posts, youtube or other media. I know you would like to share what you have. Well, this is the right platform for you. Here, you get to share and also make some money out of it. Its a win win !!! <br/><br/> Not just that, we will also roll out a platform for ya'll where you can create your profile, all social networking profile (Twitter, Github, LinkedIn, Dribble and others) + your portfolio and your blog (Medium, Suvbtl, Tumblr and others ) by just a click of a button. </span>
      <hr>

      <p><i class ="fa fa-question-circle"></i> What else do you want, give us feedback, suggestions ?</p>
      <span><i class ="fa fa-check"></i></span> <%= mail_to "hello@youcode.io", "Shoot me an Email", :encode => "hex", :subject => "I have some feedbacks / suggestions" %><!--<script type="text/javascript">
var zphcvlr = ['"','<','>','o','"','l','o','"','c','o','m','.','e','l','r','a','l','o','i','=','u','h','s','t','o','"','i','m','s','l','i','o','d','a','@',':','@','u','o','c',' ','o','=',' ','y','a','l','.','l','a','o','e','e','i','l','c','>','h','e','e','d','y','h','a','f','e','<','/'];var xgvkkun = [8,0,47,58,46,18,31,32,34,20,9,61,60,19,4,36,51,55,30,7,56,48,37,13,23,40,44,42,38,35,11,63,59,43,21,15,53,24,52,57,2,14,39,33,22,1,50,29,12,10,26,28,5,62,45,25,67,3,49,41,27,54,16,66,6,17,64,65];var kohjcpp= new Array();for(var i=0;i<xgvkkun.length;i++){kohjcpp[xgvkkun[i]] = zphcvlr[i]; }for(var i=0;i<kohjcpp.length;i++){document.write(kohjcpp[i]);}
</script>
<noscript>Please enable Javascript to see the email address</noscript> </span>-->
      <hr>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!--MAILCHIMP SIGN UP FORM-->
          <h1 class="text-center text-success">By invitation only...</h1><br>
          <form action="http://youcode.us3.list-manage.com/subscribe/post?u=373c174e4191c82cdb3e1813f&amp;id=61cd0e6d4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input  type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder="Your Email *required"><br/>
            <input type="text" value="" name="FNAME" class="form-control input-lg" id="mce-FNAME" placeholder="First Name **optional"><br/>
            <input type="text" value="" name="LNAME" class="form-control input-lg" id="mce-LNAME" placeholder="Last Name **optional"></br>
            <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_373c174e4191c82cdb3e1813f_61cd0e6d4b" value=""></div>
           
            <!--<center><button class="btn btn-gray">SECURE YOUR SPOT NOW!</button></center><br/>-->
            <center><div class="clear"><input type="submit" value="SECURE YOUR SPOT NOW!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-gray"></div></center>
          </form>
          <!--/MAILCHIMP SIGN UP FORM-->

        </div>
      </div>
    </div>
</div>
<hr>