
<br/><br/><br/>


    <div class="container">
        <center>
        <div class="row">
          <div class="span12">
            <h1 class="text-success">Goodbye to long boring tutorials.</h1>
            <h3>Learn from top designers/developers.</h3>
            <!--<img class="img-responsive"src="images/sublime.png" height="600" width="600" class="img-rounded">-->
            <!-- I got these buttons from simplesharebuttons.com -->
            <div id="share-buttons">
             
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/facebook.png" alt="Facebook" /></a>
             
            <!-- Twitter -->
            <a href="http://twitter.com/share?url=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/twitter.png" alt="Twitter" /></a>
             
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/google.png" alt="Google" /></a>
             
            <!-- Digg -->
            <a href="http://www.digg.com/submit?url=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/diggit.png" alt="Digg" /></a>
             
            <!-- Reddit -->
            <a href="http://reddit.com/submit?url=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/reddit.png" alt="Reddit" /></a>
             
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://youcode.io&text=Ruby on Rails, Angular JS Screencast" target="_blank"><img src="assets/social/linkedin.png" alt="LinkedIn" /></a>
             
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="assets/social/pinterest.png" alt="Pinterest" /></a>
             
            <!-- StumbleUpon-->
            <a href="http://www.stumbleupon.com/submit?url=http://youcode.io&text=Ruby on Rails, Angular JS Screencasts" target="_blank"><img src="assets/social/stumbleupon.png" alt="StumbleUpon" /></a>
             
            <!-- Email -->
            <a href="mailto:?Subject=Ruby on Rails| Angular JS Screencasts&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://youcode.io"><img src="assets/social/email.png" alt="Email" /></a>
            <h4>Spread the word</h4><br/>
            </div>

            
        </div>
        <br/><br/>

        </center>
    </div><!-- /.container -->
  </div><!--/CONTAINER-FLUID-->
  <div class="container-fluid" style="background:#e74c3c; padding: 5px 0px 0px 0px;"></div>

  <!--Body-->
   <div class = "container-fluid" style="background:#43ac6a; padding: 40px 0px 60px 0px;">
    <div class="container">
      <div class="row">


        <div class="col-sm-6 col-md-6">
        
            <h1 class="text-center text-cloud">By invitation only, secure your place.</h1><br>

            <div class="col-md-8 col-md-offset-2">
            	<!--MAILCHIMP SIGN UP FORM-->
              <form action="http://youcode.us3.list-manage.com/subscribe/post?u=373c174e4191c82cdb3e1813f&amp;id=61cd0e6d4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              	<input  type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder="Your Email *required"><br/>
                <input type="text" value="" name="FNAME" class="form-control input-lg" id="mce-FNAME" placeholder="First Name **optional"><br/>
                <input type="text" value="" name="LNAME" class="form-control input-lg" id="mce-LNAME" placeholder="Last Name **optional"></br>
                <div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_373c174e4191c82cdb3e1813f_61cd0e6d4b" value=""></div>
               
                <!--<center><button class="btn btn-gray">SECURE YOUR SPOT NOW!</button></center><br/>-->
                <center><div class="clear"><input type="submit" value="SECURE YOUR SPOT NOW!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-gray"></div></center>
              </form>
              <!--/MAILCHIMP SIGN UP FORM-->

            </div>
            <!--<div class="col-sm-7 form-center">
                <input type="text" class="form-control input-lg" id="title" placeholder="Title"><br/>
                <input type="text" class="form-control input-lg" id="title" placeholder="Title"><br/>
                <input type="text" class="form-control input-lg" id="title" placeholder="Title"><br/>
                <input type="text" class="form-control input-lg" id="title" placeholder="Title">
            </div>-->

        </div>
<hr class="visible-xs">
        <div class="col-sm-6 col-md-6 ">
            <!--<img class="img-responsive"src="images/sublime.png" height="600" width="600" class="img-rounded">--><br/><br/>
          <div class="col-md-9 col-md-offset-2">
          	<br/><br/>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="fa fa-hand-o-right">  What is Youcode ?</i>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Now that you asked, Youcode is a community driven web-app where you can learn/share codeing <strong><a class="text-ruby">Ruby on Rails</a> | <a class="text-warning">Angular JS</a></strong> and other languages through <i class="text-primary fa fa-laptop fa-2x"></i><strong> Screencasts.</strong>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">-->
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <i class="fa fa-hand-o-right">  "I wanna Learn Coding !"</i>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Awesome, you have come to right place. Stick with us, we are inviting top best designers and developers to help you. You can also <strong><a href="#">REQUEST for SCREENCASTS !</a></strong>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      <i class="fa fa-hand-o-right">  I am Dev | Designer, wat's in it for me ? </i>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Great, first of all helping is always great.  Second, it is also an apportunity to promote yourself and your business, Uhh! I know you wont fall for this so let me get to the point; how about we <strong><a href="#">share the revenue.</a></strong> 
                  </div>
                </div>
              </div>
            </div>
          </div><!--collapse end here-->
        </div>
      </div>
    </div>
    
    
   </div>

<div class="container-fluid" style="background:#e74c3c; padding: 5px 0px 0px 0px;"></div>